.hidden, .hidden-mobile { visibility:hidden; display:none; }
body, html { width:100%; height:100%; margin:0; }
body>div {
	padding-left:.5em;
	padding-right:.5em;
	color:#222;
	background-color:#fcfcfc;
}

button, label {
	font:16px/1.4 Calibri, 'PT Sans', sans-serif;
	border-radius:3px 3px;
}

div.filter {
	height:2em;
	position:relative;
	top:.5em;
	margin-bottom:.5em;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
div.filter button {
	color:black;
	background-color:white;
}
div.filter button:disabled {
	color:#666;
	border-color:#eee;
}

label.status {
	padding:.5em;
	position:relative;
	top:.15em;
	transition:opacity .1s ease-out;
}

button { box-shadow:#ddd 0 0 2px; }
button:focus {
	outline:none;
	box-shadow:magenta 0 0 2px;
}

@media only screen and (min-width:700px) {
	.hidden-desktop { visibility:hidden; display:none; }
	.hidden-mobile { visibility:visible; display:inherit; }
}
